.feed__button-like {
    width: 22px;
    height: 19px;
    background-image: url('../../../images/Like.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 30px;
}
.feed__button-like:hover {
    opacity: 0.5;
}