.profile__button-edit {
    max-width: 24px;
    max-height: 24px;
    background-image: url('../../../images/Edit-Button.svg');
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 11px;
    cursor: pointer;
}
@media screen and (max-width: 320px) {
    .profile__button-edit {
        max-width: 18px;
        max-height: 18px;
        background-size: 8px 8px;
        padding: 7px;
        margin-top: 5px;
    }
}