.feed__button-like {
    width: 22px;
    height: 19px;
    margin-right: 20px;
    padding: 11px;
    background: url('../../../images/Like.svg') no-repeat;
    border: none;
    cursor: pointer;
}
.feed__button-like:hover {
    opacity: 0.5;
}